#album
  #description
    %h2.editable#name=@album.name
    %h3.editable#blurb=raw(@album.blurb)
  
  %ul#photos
    -@album.photos.each do |photo|
      %li{:id => "photo_#{photo.id}", :class => cycle('photo', 'photo', 'photo', 'photo', 'last_photo'), :id => "photo_#{photo.id}"}
        %a{:href => photo.path, :title => "#{photo.title} photograph"}
          %img.thumbnail{:src => photo.url_thumb, :alt => photo.title, :title => photo.title}
          %span.title=photo.title
          
-content_for :admin do          
  :javascript
    inplaceEdit('#{album_path(@album)}');
    sortable('#photos', '#{sort_photos_path}', photosSorted);